*{
    margin: 0;
    padding: 0;
}

.bi{
    font-size: 2em;
}

.bi:hover{
    color: #0d6efd;
}

#navbar {
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
}

#navbar li a:hover{
    color: #ef4a23;
}

.bi-telephone{
    font-size: 16px;
}

.bi-geo-alt-fill{
    font-size: 16px;
}

.icon-link:hover{
    color:#ef4a23;
}

.carousel-item img{
    width: 1200px;
    height: 625px;
}

#navbar{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  
  }

.brand img{
    width: 200px;
    height: 112px;
}

.cust:hover{
    border: 1px solid blue;
}









